<ion-content>
  <div class="ui middle aligned center aligned grid login-container">
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui inverted segment">
          <h3 class="ui horizontal divider inverted header">Login</h3>
          <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular twitter icon button" (click)="twitterLogin()">
            <i class="twitter icon"></i>
          </button>
          <button class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
          </button>
          <button class="ui circular google plus icon button" (click)="googleLogin()">
            <i class="google plus icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>