<ion-header>
  <ion-toolbar>
    <ion-title>
      Femme Up Fitness
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://mail.google.com/mail/u/0?ui=2&ik=7d69612834&attid=0.1&permmsgid=msg-f:1652297108340338768&th=16ee23773e07f050&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_839cGyUSmSGKCG0xlEv7z3j6M-KGjXEahOf1AGUt1fNgv8RW16Pf71cut2g4hZHZaz8zMyut1S5qKomvxEc_JXf2kIS0qbO3_IYIKPUcHq54hFOjjYQtjzQY&disp=emb&realattid=ii_k3w2tm010" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Let's get started!</ion-card-subtitle>
        <ion-card-title>Now... LET'S GET FEMMEFIT!!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now over this 3-4 months we are going to help you bust your ass, and have courses to help you love your body! If you already love your body, then great! Join us and help others in the community love theirs too!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Fun Stuff</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Create Your Account/Sign in</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label> Journey! and Community!</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Self Love and more helpful casts to help your mind rest after a hard workout or when you have trouble sleeping!</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Mini Games</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
