<ion-header>
  <div class="ui massive inverted gray menu">
    <div class="header item">
      Home
    </div>
  </div>
</ion-header>

<ion-content color="dark">
    <div class="ui padded grid"
      style="margin-top: 20px">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui inverted header">
            Welcome user
          </h3>
        </div>
        <div class="eight wide right aligned column">
          <img src="https://mail.google.com/mail/u/0?ui=2&ik=7d69612834&attid=0.1&permmsgid=msg-f:1652367927001204925&th=16ee63dfff27c8bd&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9ADNxagwf41oJDncP16Fl9OdFSdycOlT5UCVntu1LcxoQq8NJnyisE41itkrf6ctcl6IMQ0RECb7S6LTdwHM-Kygig-jmdIOgXPO-3KeegF445nMuj3Vt9yvg&disp=emb&realattid=ii_k3x71i2x0"
            class="ui avatar image">
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="sixteen wide column">
        <h3 class="ui dividing inverted header">Recent</h3>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="eight wide column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="pink bed icon"></i> 6
          </div>
          <div class="label">
            Sleep
          </div>
        </div>
      </div>
      <div class="eight wide right aligned column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="blue walking icon"></i> 200
          </div>
          <div class="label">
            Walking
          </div>
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="eight wide column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="red heart icon"></i> 67
          </div>
          <div class="label">
            HRV
          </div>
        </div>
  
      </div>
      <div class="eight wide right aligned column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="yellow burn icon"></i> 12
          </div>
          <div class="label">
            Energy
          </div>
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="row">
        <div class="sixteen wide column">
          <h3 class="ui dividing inverted header">My Fitness Tracker</h3>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui clearing inverted yellow segment"
            *ngFor="let practice of ['Gym', 'Walking']">
            <div class="ui toggle checkbox">
              <input type="checkbox"
                name="public">
            </div>
            <h3 class="ui right floated inverted header">{{practice}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="ion-padding">
      <button class="ui labeled icon fluid teal button">
        <i class="sync icon"></i>
        Sync my data
      </button>
      <ion-text>Last Sync</ion-text>
    </div> -->
  </ion-content>